*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 25px;    
}
h1{
    text-align: center;
    margin-bottom: 20px;
    text-transform: uppercase;
    font-size: 25px;
    font-weight: 600;
}
h2{
    text-transform: capitalize;
    text-align: center;
    margin-bottom: 20px
}
p,section{
    line-height: 1.6 ;
}       
body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
   
}



    nav ul li{
    display: inline-block;
    margin-right: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}

nav{
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: green;
    color: white;
    padding: 30px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}
nav ul{
    list-style: none;

}
nav ul li a{
    color: white;
    text-decoration: none;
    font-weight: 600;
    text-transform: capitalize;
}
main{
    padding: 50px 5%;
    display: flex;
  
}
div.main{
   padding: 00 10%;
    
    justify-content: center;
    align-items: center;
    background-color: rgb(160, 255, 168);
    background-image: url(../img/descarga.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
}
main.bienvenida {
    padding: 00 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(160, 255, 168);
    background-image: url(../img/descarga.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    
}

.contenidodebienvenida {
    background-color: rgba(255, 255, 255, 0.335);
    display: flex;
    flex-direction: column; 
    align-items: center;   
    justify-content: center; 
    border-radius: 20px;
    height: 70vh; 
    width: 100%;
}   
.contenidodebienvenida > * {
    margin-bottom: 20px;
}
.botones-container{
    display: flex;
       align-items: center;
    justify-content: center;
    gap: 20px;
}
.button-ini{
    background-color: green;
    color: white;
    text-decoration: none;
    text-transform: capitalize;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    display: inline-block;
    width: auto;
    height: 120px;
    font-size: 20px;
    font-weight: bold;
}

div.botones_avance{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    font-weight: 600;
    text-align: center;
    text-transform: capitalize;
}
div.siguiente{
    color: white;
    background-color: green;
    padding: 10px;
    height:50px;
    width: 150px;
    border-radius:20px;
    text-decoration: none;
    cursor: pointer;
}

div.botones_avance div.volver{
    background-color: blue;
    padding: 10px;
    height:50px;
    width: 150px;
    border-radius:20px;
    text-decoration: none;
    cursor: pointer;
    color: white;
    
}

div.volver a, div.siguiente a{
    color: white;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
}



.sidebar {
    position: sticky;
    top: 20px;
    top: 120px;
    width: 20%;
    height: 250px;
    background-color: rgba(56, 234, 107, 0.96);
    padding: 20px;
    border-radius: 18px;
    box-shadow: 0 10px 24px rgba(0,0,0,0.12);
    max-height: calc(100vh - 140px);
    overflow: auto;
    z-index: 1000;
}
.sidebar audio{
    width: 100%;
    margin-top: 20px;
}

.interior {
    clear: both;
    width: 80%;
    float: right;
    margin-left: 20px;
    padding: 50px 10%;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.512);
}

header nav ul li img{
    width: 200px;
    height: 100px;
    object-fit: contain;
}